body {
  margin:0;
  font-size: 16;
}

/* .milkdown .editor>* {
  margin: 0 0 1.5em 0px !important
} */

.milkdown .editor {
  outline: none !important ;
}

.milkdown .editor .strong {
  font-weight: bolder !important;
}

.milkdown .editor blockquote {
  padding-left: 1.5em !important;
}

.milkdown ol,ul {
  padding-inline-start: 26px !important;
}

.milkdown-menu-wrapper .milkdown {
  overflow: auto;
  height: calc(100vh - 4rem);
}

.milkdown .editor table p {
  line-height: initial !important;
  padding: 1em 0;
}

.task-list-item label {
  left: -1.7em !important;
  margin: 0.5em 0 !important;
}